on: [push, pull_request]
name: Spell checks
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Install aspell
        run: sudo apt-get install -y aspell aspell-en
      - name: Run aspell
        run: make spellcheck
